html, body {
    margin: 0;
    padding: 2px;
}

header {
    font-size: 30px; 
    text-align: center;
    font-weight: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: aqua;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
}

aside > img {
    margin: .5rem;
}
